<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banco de Sangue</title>
<style>
    body{
        margin:0; 
        font-family: 'Times New Roman', Times, serif;
    }
    header{
        background-color: rgba(54, 188, 5, 0.395);
        color:brown;
        padding: 20px;

    }
    nav a {
        color:rgb(64, 0, 255);
        text-decoration:brown;
        margin-right: 15px;
    }
</style>
</head>
<body>
    <header>
        <h1>Banco de Sangue</h1>
        <p>Bem-vindo/a!</p>
            <nav>
            <a href="{% url 'Login' %}">Login</a>
            <a href="#">Ajuda</a>
        </nav>
    </header>

    
</body>
</html>

<div class="container">
    {% block content %}
    {% endblock %}
</div>